**/__pycache__
cu-config.yml
dist/
*.egg-info
.conda/
.ruff_cache/
.mypy_cache/
.pytest_cache/
nerfbaselines/_version.py
.vscode/launch.json
web/
nerfbaselines/
tests/
assets/
conftest.py
LICENSE
README.md
setup.py
pyproject.toml
