<!DOCTYPE html>
<html>
<head>
  <title>Viewer</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link href="./static/styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.7.0/dist/tabler-icons.min.css" rel="stylesheet">
</head>
<body>

<main>
    <div class="viewport">
    </div>

    <div class="notifications"></div>

    <div class="controls">
      <div class="dialog" id="settings_dialog">
        <div class="dialog-header">
          <div>Settings</div>
          <i class="ti ti-x" onclick="this.closest('.dialog').classList.remove('dialog-open')"></i>
        </div>
        <fieldset>
          <legend>Colors</legend>
          <div class="row">
            <label for="theme_color">Theme</label>
            <input type="color" id="theme_color" name="theme_color" value="#ffd369">
          </div>
          <div class="row">
            <label for="trajectory_curve_color">Trajectory curve</label>
            <input type="color" id="trajectory_curve_color" name="trajectory_curve_color" value="#ffd369">
          </div>
          <div class="row">
            <label for="player_frustum_color">Player frustum</label>
            <input type="color" id="player_frustum_color" name="player_frustum_color" value="#20df80">
          </div>
          <div class="row">
            <label for="keyframe_frustum_color">Keyframe frustum</label>
            <input type="color" id="keyframe_frustum_color" name="keyframe_frustum_color" value="#ff0000">
          </div>
          <div class="row">
            <label for="dataset_frustum_color">Dataset frustum</label>
            <input type="color" id="dataset_frustum_color" name="dataset_frustum_color" value="#d3d3d3">
          </div>
        </fieldset>
        <fieldset>
          <legend>Camera control</legend>
          <div class="row">
            <label for="camera_control_inertia">Inertia</label>
            <input type="range" id="camera_control_inertia" name="camera_control_inertia" min="0" max="0.99" step="0.01" value="0.6">
          </div>
          <div class="row">
            <label for="camera_control_rotation_sensitivity">Rotation sensitivity</label>
            <input type="range" id="camera_control_rotation_sensitivity" name="camera_control_rotation_sensitivity" min="0" max="2" step="0.01" value="1.0">
          </div>
          <div class="row">
            <label for="camera_control_rotation_inverted">Rotation inverted</label>
            <input type="checkbox" id="camera_control_rotation_inverted" name="camera_control_rotation_inverted">
          </div>
          <div class="row">
            <label for="camera_control_pan_sensitivity">Panning sensitivity</label>
            <input type="range" id="camera_control_pan_sensitivity" name="camera_control_pan_sensitivity" min="0" max="2" step="0.01" value="1.0">
          </div>
          <div class="row">
            <label for="camera_control_pan_inverted">Panning inverted</label>
            <input type="checkbox" id="camera_control_pan_inverted" name="camera_control_pan_inverted">
          </div>
          <div class="row">
            <label for="camera_control_zoom_sensitivity">Zoom sensitivity</label>
            <input type="range" id="camera_control_zoom_sensitivity" name="camera_control_zoom_sensitivity" min="0" max="2" step="0.01" value="1.0">
          </div>
          <div class="row">
            <label for="camera_control_zoom_inverted">Zoom inverted</label>
            <input type="checkbox" id="camera_control_zoom_inverted" name="camera_control_zoom_inverted">
          </div>
          <div class="row">
            <label for="camera_control_key_speed">Keyboard speed</label>
            <input type="range" id="camera_control_key_speed" name="camera_control_key_speed" min="0" max="2" step="0.01" value="1.0">
          </div>
        </fieldset>
        <div class="row">
          <button data-action="reset_settings">Reset settings</button>
        </div>
      </div>

      <div class="dialog" id="dialog_camera_path_delete_all">
        <div class="dialog-header">
          <div>Confirm deletion</div>
          <i class="ti ti-x" onclick="this.closest('.dialog').classList.remove('dialog-open')"></i>
        </div>
        <p>Are you sure you want to delete all keyframes?</p>
        <div class="row">
          <button 
            onclick="this.closest('.dialog').classList.remove('dialog-open')"
            data-action="delete_all_keyframes">Yes</button>
          <button onclick="this.closest('.dialog').classList.remove('dialog-open')">No</button>
        </div>
      </div>

      <div class="dialog" data-bind-class="dialog-open:camera_path_has_selected_keyframe">
        <div class="dialog-header">
          <div>Editing keyframe <span data-bind="camera_path_selected_keyframe_natural_index"></span></div>
          <i class="ti ti-x" data-action="clear_selected_keyframe"></i>
        </div>
        <div class="row" data-visible-if="camera_path_interpolation!=none">
          <label for="camera_path_selected_keyframe_velocity_multiplier">Velocity multiplier</label>
          <input type="number" id="camera_path_selected_keyframe_velocity_multiplier" name="camera_path_selected_keyframe_velocity_multiplier" min="0.00001" max="300" step="0.00001" value="1">
        </div>
        <div class="row" data-visible-if="camera_path_interpolation==none">
          <label for="camera_path_selected_keyframe_duration">Duration</label>
          <input type="number" id="camera_path_selected_keyframe_duration" name="camera_path_selected_keyframe_duration" min="0.01" max="300" step="0.01" value="2">
        </div>
        <div class="row">
          <label for="camera_path_selected_keyframe_fov">FOV</label>
          <input type="number" id="camera_path_selected_keyframe_fov" name="camera_path_selected_keyframe_fov" min="1" max="175" step="1" value="60" data-enable-if="camera_path_selected_keyframe_override_fov" disabled>
          <input type="checkbox" name="camera_path_selected_keyframe_override_fov" />
        </div>
        <div class="row" style="justify-content: end">
          <label for="camera_path_selected_keyframe_appearance_train_index">Appearance</label>
          <select 
             id="camera_path_selected_keyframe_appearance_train_index" 
             name="camera_path_selected_keyframe_appearance_train_index"
             data-enable-if="dataset_train_appearance_options"
             data-options="dataset_train_appearance_options">
          </select>
          <img class="appearance-preview" data-visible-if="camera_path_selected_keyframe_appearance_url" data-bind-attr="src:camera_path_selected_keyframe_appearance_url" style="display: none" />
        </div>
        <div class="row">
          <button data-action="set_camera_to_selected_keyframe">Navigate</button>
          <button data-action="delete_selected_keyframe">Delete</button>
        </div>
      </div>

      <div class="dialog" data-bind-class="dialog-open:dataset_has_selected_camera">
        <div class="dialog-header">
          <div>Dataset image <span data-bind="dataset_selected_image_id"></span></div>
          <i class="ti ti-x" data-action="clear_selected_dataset_image"></i>
        </div>
        <div class="row info-fields">
          <strong>Camera ID:</strong><span data-bind="dataset_selected_image_index"></span>
          <strong>Split:</strong><span data-bind="dataset_selected_image_split"></span>
          <strong>Image name:</strong><span data-bind="dataset_selected_image_name"></span>
          <strong>Pose:</strong>
          <pre data-bind="dataset_selected_image_pose" 
               style="font-size: 0.65rem; font-family: monospace; margin: 0; padding: 0 0 0 1rem; overflow: scroll; grid-column: 1 / 3;"></pre>
          <strong>Resolution:</strong>
          <span>
            <span data-bind="dataset_selected_width"></span> x
            <span data-bind="dataset_selected_height"></span>
          </span>
          <strong>Intrinsics:</strong>
          <span style="grid-column: 1 / 3; padding: 0 0 0 1rem;">
            fx=<span data-bind="dataset_selected_fx"></span><br/>
            fy=<span data-bind="dataset_selected_fy"></span><br/>
            cx=<span data-bind="dataset_selected_cx"></span><br/>
            cy=<span data-bind="dataset_selected_cy"></span>
          </span>
          <strong>Image:</strong><img data-bind-attr="src:dataset_selected_image_url" />
        </div>
        <div class="row">
          <button data-action="set_camera_to_selected_dataset_image">Navigate</button>
          <button data-action="clear_selected_dataset_image">Close</button>
        </div>
      </div>

      <div class="tabs">
        <input type="radio" id="tab-1" value="control" name="main_tabs" checked>
        <input type="radio" id="tab-2" value="trajectory" name="main_tabs">
        <input type="radio" id="tab-3" value="info" name="main_tabs">

        <span class="tabs-header">
          <label for="tab-1">Control</label>
          <label for="tab-2">Trajectory</label>
          <label for="tab-3">Info</label>
          <div class="tabs-icons">
            <a onclick="document.getElementById('settings_dialog').classList.add('dialog-open')">
              <i class="ti ti-settings" ></i>
            </a>
          </div>
        </span>
        <div class="tab panel">
          <div class="row">
            <label for="camera_control_mode">Control type</label>
            <select id="camera_control_mode" name="camera_control_mode">
              <option value="free" selected>free</option>
              <option value="orbit">orbit</option>
            </select>
          </div>
          <fieldset>
            <legend>Render options</legend>
            <div class="row slider">
              <label for="render_resolution">Max resolution</label>
              <input type="range" id="render_resolution" name="render_resolution" min="32" max="2048" value="1024" data-enable-if="has_method" disabled>
              <input type="number" id="render_resolution_number" name="render_resolution" min="32" max="2048" step="1" value="1024" disabled data-enable-if="has_method">
            </div>

            <div class="row">
              <label for="prerender_enabled">Pre-render</label>
              <input type="checkbox" id="prerender_enabled" name="prerender_enabled" disabled data-enable-if="has_method">
              <div class="input-hint">Renders faster at lower res. when moving.</div>
            </div>

            <div class="row" data-visible-if="prerender_enabled">
              <label for="prerender_resolution">Pre-render res.</label>
              <input type="range" id="prerender_resolution" name="prerender_resolution" min="1" max="512" step="1" value="100" disabled data-enable-if="prerender_enabled">
              <input type="number" id="prerender_resolution_number" name="prerender_resolution" min="1" max="512" step="1" value="100" disabled data-enable-if="prerender_enabled">
            </div>

            <div class="row">
              <label for="render_fov">FOV</label>
              <input type="range" id="render_fov" name="render_fov" min="1" max="175" step="1" value="60">
              <input type="number" id="render_fov_number" name="render_fov" min="1" max="175" step="1" value="60">
            </div>

            <div class="row" style="justify-content: end">
              <label for="render_appearance_train_index_1">Appearance</label>
              <select id="render_appearance_train_index_1" 
                name="render_appearance_train_index"
                data-enable-if="dataset_train_appearance_options"
                data-options="dataset_train_appearance_options"
                disabled>
              </select>
              <img class="appearance-preview" data-visible-if="render_appearance_image_url" data-bind-attr="src:render_appearance_image_url"  style="display: none" />
              <div class="input-hint">Appearance of one of the train image.</div>
            </div>

            <div class="row">
              <label for="output_type">Output type</label>
              <select id="output_type" name="output_type" data-enable-if="has_method" data-options="output_types" disabled>
              </select>
            </div>

            <div class="row">
              <label for="camera_pose">Camera pose</label>
              <textarea 
                  rows=3 
                  id="camera_pose" 
                  name="camera_pose" 
                  style="flex-basis:100%; font-size: 0.65rem"
                  onfocus="this.hasFocus=true"
                  oninput="this.hasFocus=true"
                  onchange="viewer.set_camera({ matrix: this.value });"
                  onblur="this.hasFocus=false"></textarea>
            </div>
          </fieldset>
          <fieldset id="folder-split-screen">
            <legend>Split screen</legend>
            <div class="row checkbox">
              <label for="split_enabled">Enable</label>
              <input type="checkbox" id="split_enabled" name="split_enabled" data-enable-if="has_output_split" disabled>
            </div>

            <div class="row slider">
              <label for="split_percentage">Split point</label>
              <input type="range" id="split_percentage" name="split_percentage" min="0.05" max="0.95" step="0.01" value="0.5" data-enable-if="has_output_split" disabled>
            </div>

            <div class="row slider">
              <label for="split_tilt">Split tilt</label>
              <input type="range" id="split_tilt" name="split_tilt" min="-90" max="90" step="1" value="0" data-enable-if="has_output_split" disabled>
            </div>

            <div class="row dropdown">
              <label for="split_output_type">Output render split</label>
              <select id="split_output_type" name="split_output_type" data-enable-if="has_output_split" data-options="output_types" disabled>
              </select>
              <div class="input-hint">The second output</div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Dataset</legend>
            <div class="row">
              <label for="dataset_show_train_cameras">Show train cams</label>
              <input type="checkbox" id="dataset_show_train_cameras" name="dataset_show_train_cameras" data-enable-if="dataset_has_train_cameras" disabled>
            </div>
            <div class="row">
              <label for="dataset_show_test_cameras">Show test cams</label>
              <input type="checkbox" id="dataset_show_test_cameras" name="dataset_show_test_cameras" data-enable-if="dataset_has_train_cameras" disabled checked>
            </div>
            <div class="row">
              <label for="dataset_show_pointcloud">Show input PC</label>
              <input type="checkbox" id="dataset_show_pointcloud" name="dataset_show_pointcloud" data-enable-if="dataset_has_pointcloud" disabled checked>
            </div>
            <div class="row">
              <label for="pointcloud_scale">Point cloud scale</label>
              <input type="range" id="pointcloud_scale" name="pointcloud_scale" min="0.0001" max="10.0" value="1.0" step="0.00001" data-enable-if="dataset_has_pointcloud" disabled>
            </div>
          </fieldset>
        </div>
        <div class="tab panel">
          <div class="row">
            <label for="render_resolution">Resolution</label>
            <input type="number" id="camera_path_resolution_1" name="camera_path_resolution_1" min="50" max="10000" step="1" value="1280">
            <input type="number" id="camera_path_resolution_2" name="camera_path_resolution_2" min="50" max="10000" step="1" value="720">
          </div>

          <div class="row">
            <label for="camera_path_default_fov">FOV</label>
            <input type="range" id="camera_path_default_fov" name="camera_path_default_fov" min="1" max="175" step="1" value="60">
            <input type="number" id="camera_path_default_fov_number" name="camera_path_default_fov" min="1" max="175" step="1" value="60">
          </div>

          <div class="row">
            <button 
               data-action="add_keyframe"
               title="Add a new keyframe at the current pose.">Add keyframe</button>
            <button 
               onclick="document.getElementById('dialog_camera_path_delete_all').classList.add('dialog-open')"
               title="Remove all keyframes from the render path." data-enable-if="camera_path_keyframes" disabled>Clear keyframes</button>
          </div>

          <fieldset>
            <legend>Playback</legend>
              <div class="row slider">
                <label for="preview_frame">Preview frame</label>
                <input type="range" id="preview_frame" name="preview_frame" min="0" step="1" value="0">
              </div>
              <div class="row row-group">
                <input type="checkbox" id="preview_is_playing" name="preview_is_playing" style="display: none" />
                <input type="checkbox" id="preview_is_preview_mode" name="preview_is_preview_mode" style="display: none" />
                <button id="button_play" onclick="var el=document.getElementById('preview_is_playing'); el.checked = true; el.dispatchEvent(new Event('change'))" data-enable-if="camera_path_trajectory" disabled>Play</button>
                <button id="button_pause" onclick="var el=document.getElementById('preview_is_playing'); el.checked = false; el.dispatchEvent(new Event('change'))">Pause</button>
                <button id="button_preview_render" onclick="var el=document.getElementById('preview_is_preview_mode'); el.checked = true; el.dispatchEvent(new Event('change'))">Preview render</button>
                <button id="button_preview_render_stop" onclick="var el=document.getElementById('preview_is_preview_mode'); el.checked = false; el.dispatchEvent(new Event('change'))">Exit render preview</button>
              </div>

              <div class="row" data-visible-if="camera_path_interpolation!=none">
                <label for="camera_path_duration">Duration (sec)</label>
                <input type="number" id="camera_path_duration" name="camera_path_duration" min="0.01" max="1e8" step="0.01" value="0">
                <div class="input-hint">Total duration of the camera path in seconds.</div>
              </div>
              <div class="row" data-visible-if="camera_path_interpolation==none">
                <label for="camera_path_computed_duration">Duration (sec)</label>
                <input type="number" id="camera_path_computed_duration" name="camera_path_computed_duration" min="0.01" max="1e8" step="0.01" value="0" disabled>
                <div class="input-hint">Total duration of the camera path in seconds.</div>
              </div>

              <div class="row">
                <label for="camera_path_framerate">FPS</label>
                <input type="number" id="camera_path_framerate" style="flex: 2" name="camera_path_framerate" min="1" max="240" step="1" value="30">
                <div class="toggle-group" style="flex: 4; display: flex;">
                  <button onclick="var el=document.getElementById('camera_path_framerate');el.value = 24;el.dispatchEvent(new Event('change'))">24</button>
                  <button onclick="var el=document.getElementById('camera_path_framerate');el.value = 30;el.dispatchEvent(new Event('change'))">30</button>
                  <button onclick="var el=document.getElementById('camera_path_framerate');el.value = 60;el.dispatchEvent(new Event('change'))">60</button>
                </div>
                <div class="input-hint" data-visible-if="camera_path_interpolation==none">FPS is only used for video export.</div>
              </div>
          </fieldset>

          <div class="row">
            <label for="camera_path_interpolation">Interpolation</label>
            <select id="camera_path_interpolation" name="camera_path_interpolation">
              <option value="none">none</option>
              <option value="kochanek-bartels" selected>kochanek-bartels</option>
              <option value="linear">linear</option>
              <option value="circle">circle</option>
            </select>
            <div class="input-hint">Camera path interpolation.</div>
          </div>

          <div class="row" data-visible-if="camera_path_interpolation!=none">
            <label for="camera_path_loop">Loop</label>
            <input type="checkbox" id="camera_path_loop" name="camera_path_loop">
            <div class="input-hint">Add a segment between the first and last keyframes.</div>
          </div>

          <div class="row" data-visible-if="camera_path_interpolation==kochanek-bartels">
            <label for="camera_path_tension">Spline tension</label>
            <input type="range" id="camera_path_tension" name="camera_path_tension" min="-1" max="1" step="0.01" value="0">
            <div class="input-hint">Adjusting spline smoothness.</div>
          </div>
          <div class="row" data-visible-if="camera_path_interpolation==kochanek-bartels">
            <label for="camera_path_continuity">Spline continuity</label>
            <input type="range" id="camera_path_continuity" name="camera_path_continuity" min="-1" max="1" step="0.01" value="0">
            <div class="input-hint">Adjusting spline continuity.</div>
          </div>
          <div class="row" data-visible-if="camera_path_interpolation==kochanek-bartels">
            <label for="camera_path_bias">Spline bias</label>
            <input type="range" id="camera_path_bias" name="camera_path_bias" min="-1" max="1" step="0.01" value="0">
            <div class="input-hint">Adjusting spline overshooting.</div>
          </div>

          <div class="row">
            <label class="button">
              Load trajectory
              <input type="file" style="display: none" id="input_camera_path" accept=".json">
            </label>
            <button id="button_export_camera_path" data-action="save_camera_path" data-enable-if="camera_path_trajectory" disabled>Export trajectory</button>
          </div>
          <div class="row">
            <a id="button_render_video" href="#" class="button" download="video.mp4" target="_blank" data-enable-if="camera_path_trajectory" data-disabled="disabled">Render video</a>
          </div>
        </div>

        <!-- Training tab -->
        <div class="tab panel">
          <div class="row info-fields" data-visible-if="method_info" id="method_info" style="display: none">
          </div>
          <fieldset data-visible-if="method_info" style="display: none">
            <legend>Model hyperparameters</legend>
            <div class="row info-fields" id="method_hparams">
            </div>
          </fieldset>
          <fieldset data-visible-if="dataset_info" style="display: none">
            <legend>Dataset</legend>
            <div class="row info-fields" id="dataset_info">
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </main>
  <script type="importmap">
    {
      "imports": {
        "three": "./static/third-party/three.module.js",
        "three/addons/": "./static/third-party/"
      }
    }
  </script>
  <script src="static/interpolation.js" type="module"></script>
  <script src="static/threejs_utils.js" type="module"></script>
  <script src="static/viewer.js" type="module"></script>
</body>
</html>
