<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <title>NerfBaselines</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ base_path }}/favicon.ico" type="image/x-icon" sizes="256x256">
    <link href="{{ base_path }}/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.7.0/dist/tabler-icons.min.css" rel="stylesheet">
    <script src="{{ base_path }}/scripts.js" defer></script>
  </head>
  <body class="main-container">
    {% block content %}
    {% endblock %}
  </body>
</html>
