{% extends "_layout.html" %}
{% block head %}
    <title>NerfBaselines</title>
{% endblock %}
{% block content %}
<header class="main-header">
  <div class="main-header__top-row">
    <img src="{{ base_path }}/logo.png" alt="NerfBaselines" />
    <h1>
      <span>Nerf<br/>Baselines</span>
    </h1>
  </div>
  <div class="main-header__buttons-row">
    <a class="button" href="https://github.com/nerfbaselines/nerfbaselines"><i class="ti ti-brand-github-filled"></i> GitHub</a>
    <a class="button" href="https://arxiv.org/pdf/2406.17345.pdf"><i class="ti ti-file-type-pdf"></i> Paper</a>
    {% if has_docs %}<a class="button" href="{{ base_path }}/docs"><i class="ti ti-book-2"></i> Docs</a>{% endif %}
  </div>
  <p class="main-header__abstract">
    NerfBaselines is a framework for <strong>evaluating and comparing existing NeRF methods</strong>.
    Currently, most official implementations use different dataset loaders, evaluation protocols, and metrics which renders the comparison of methods difficult.
    Therefore, this project aims to provide a <strong>unified interface</strong> for running and evaluating methods on different datasets in a consistent way using the same metrics. But instead of reimplementing the methods, <strong>we use the official implementations</strong> and wrap them so that they can be run easily using the same interface.
  </p>
</header>
<main>
  {% for dataset in datasets %}
  <section id="dataset-{{dataset.id}}" class="result-set-panel">
    <div class="result-set-panel__header">
      <h2>
          <a href="{{ base_path }}/{{ dataset.slug }}">{{ dataset.name }}&nbsp;<i class="ti ti-external-link text-blue"></i></a>
      </h2>
      <p className="text-justify">{{ dataset.description }}</p>
    </div>
    {% with methods=dataset.methods, dataset_id=dataset.id, metrics=dataset.metrics, scenes=dataset.scenes, default_metric=dataset.default_metric or dataset.metrics[0].id  %}
      {% include '_partials/dataset_table.html' %}
    {% endwith %}
  </section>
  {% endfor %}
  <section>
    <h2>Citation</h2>
    <p>If you use this code in your research, please cite the following paper:</p>
    <pre><code>@article{kulhanek2024nerfbaselines,
  title={NerfBaselines: Consistent and Reproducible Evaluation of Novel View Synthesis Methods},
  author={Jonas Kulhanek and Torsten Sattler},
  year={2024},
  journal={arXiv},
}</code></pre>
    </section>
    <section>

    <h2>Acknowledgements</h2>
    <p>
    We want to thank Brent Yi and the <a href="https://github.com/nerfstudio-project/nerfstudio">NerfStudio Team</a> for helpful discussions regarding the NerfStudio codebase.
This work was supported by the Czech Science Foundation (GA&#268;R) EXPRO (grant no. 23-07973X), the Grant Agency of the Czech Technical University in Prague (grant no. SGS24/095/OHK3/2T/13), and by the Ministry of Education, Youth and Sports of the Czech Republic through the e-INFRA CZ (ID:90254).</p>
  </section>
  <section>
    <h2>License</h2>
    <p>
      The NerfBaselines project is licensed under the <a href="https://raw.githubusercontent.com/nerfbaselines/nerfbaselines/main/LICENSE">MIT license</a>.
      Each implemented method is licensed under the license provided by the authors of the method.
      For the currently implemented methods, the following licenses apply:
      <ul>
        {% for method in method_licenses %}
        <li>{{ method.name }}: {% for license in method.licenses %}<a href="{{ license.url }}">{{ license.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
        {% endfor %}
      </ul>
    </p>
  </section>
</main>
{% endblock %}
